.container{
	margin:0;
}

.user{
	text-align: left ;
	padding:10px 5px;
	display:flex;
	
}
.text{
	margin-left: 10px;
	margin-top: 10px;
	letter-spacing:1px;
	
	color:#fff;
}
.user h1{
	font-size:1rem;
	color:#FF9E2A;
	
}

.user h3{
	
	font-size:0.8rem;
	
	font-weight: 300;
	
}
 .image{
	 
	 border-radius:50%50%;
	 object-fit:cover;
 }

 .sidebar {
	background-color:#1B334A;
	min-height: 80vh;
}

.ul{
	margin-top:10px;
	list-style: none;

}

.li{
	font-size:16px;
	padding:15px 0px;

}

.navlink:hover{
	color:#FF9E2A;
	font-weight: 500;
	
}

.navlink{
	color:#fff;
	text-decoration:none;
	margin-left: 5px;
	cursor:pointer;
	letter-spacing:1px;
	text-transform: uppercase;
}

.icon{
	color:#FF9E2A;
}
/* ################## Navbar{Topbar} ########## */

.navbar{
	background-color:#1B334A;

}

.h3{
	font-size:1.5rem;
	letter-spacing:2px;
	color:#fff;
	
}

/* ################## Dashboard ########## */

.dashboard{
	width:83vw;
	height:86vh;
	
	/* background:#163B5E; */
	background:linear-gradient(rgba(22, 59, 94, 0.171));
	display:flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-self:center;
	
}

.button{
	color:#FF9E2A;
}


/* ################## Table ########## */

.gridtable{
	background:white;
}

/* ################## Card ########## */

.card{
	
	margin:auto;
	width:90%;
}

